<div class="account-container">
  <h1><%= title %></h1>
  <h2>Hello, <%= accountData.account_firstname %></h2>

  <% if (accountData.account_type === 'Client') { %>
    <h2>You are <%= accountData.account_type %></h2>
  <% } else if (accountData.account_type == 'Employee' || accountData.account_type == 'Admin') { %>
    <h2>Account Type: <%= accountData.account_type %></h2>
    <h3>Manage Inventory</h3>
    <p><a href="/inv">Access Inventory Management</a></p>
  <% } %>
</div>
<div class="account-container">
  <h3>Update Account Information</h3>
  <p><a href="/account/update/<%= accountData.account_id %>">Update Account</a></p>
</div>