<div class="account-container">
    <% if (title) { %>
    <h1><%= title %></h1>
    <% } else { res.redirect('/') } %>
    
    <%- messages() %>

    <% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
        <% }) %>
    </ul>
    <% } %>
    
    <form id="registerForm" action="account/register" method="post">
        <p>*All fields are required</p>
        <fieldset>
            <div class="form-group">
                <label for="account_firstname">First Name:</label>
                <input type="text" id="firstname" size="10" name="account_firstname" require value="<%= locals.account_firstname %>">
            </div>
            <div class="form-group">
                <label for="account_lastname">Last Name:</label>
                <input type="text" id="lastname" name="account_lastname" required value="<%= locals.account_lastname %>">
            </div>
            <div class="form-group">
                <label for="account_email">Email Address:</label>
                <input type="email" id="email" name="account_email" required value="<%= locals.account_email %>">
            </div>
            <div class="form-group">
                <label for="account_password">Password:</label>
                <input type="password" id="password" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
                <p>Passwords must be minimum of 12 characters and include 1 capital letter, 1 number and 1 special character.</p>
            </div>
            <button type="button" onclick="togglePassword()">Show/Hide Password</button>
            <button type="submit" style="text-align: center;">Register</button>
        </fieldset>
    </form>
</div>

<script>
function togglePassword() {
    var passwordField = document.getElementById("account_password");
    if (passwordField.type === "password") {
        passwordField.type = "text";
    } else {
        passwordField.type = "password";
    }
}
</script>
