<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %> <!-- Include head partial -->

<body>
    <div id="wrapper">
        <%- include('../partials/header') %> <!-- Include header partial -->
        <%- include('../partials/navigation') %> <!-- Include navigation partial -->

        <main>
            <%- body %> <!-- Inject content here (e.g., content from index.ejs) -->
        </main>

        <%- include('../partials/footer') %> <!-- Include footer partial -->
    </div>
</body>
</html>