<!-- FORM TO ADD A VEHICLE -->
<div class = "error">
    <%- messages() %>
      <% if (errors) { %>
          <ul>
              <% errors.forEach(error => { %>
                  <li><%= error.msg %></li>
              <% }) %>
          </ul>
      <% } %>
  </div>
  
<div class="account-container">
    <h1><%= title %></h1>
    
    <form id="add-inventory-form" action="/inventory/add-classification" method="POST">

        <div class="form-group">
            <label for="classification">Classification:</label>
        </div>
        <div class="classification-group">
            <select id="classification" name="classification" required>
              <option value="">Select Classification</option>
              <% classifications.forEach(function(classification) { %>
                <option value="<%= classification.classification_id %>">
                  <%= classification.classification_name %>
                </option>
              <% }); %>
            </select>
          </div>
        <div class="form-group">
            <label for="inv_make">Make:</label>
            <input type="text" id="inv_make" name="inv_make" value="<%= typeof inv_make !== 'undefined' ? inv_make : '' %>" placeholder="Min of 3 Characters" required>
        </div>
        <div class="form-group">
            <label for="inv_model">Model:</label>
            <input type="text" id="inv_model" name="inv_model" value="<%= typeof inv_model !== 'undefined' ? inv_model : '' %>" placeholder="Min of 3 Characters" required>
        </div>
        <div class="form-group">
            <label for="inv_year">Year:</label>
            <input type="number" id="inv_year" name="inv_year" value="<%= typeof inv_year !== 'undefined' ? inv_year : '' %>" placeholder="4-digit year" required>
        </div>
        <div class="form-group">
            <label for="inv_description">Description:</label>
        </div>
        <div class="description-group">
            <textarea id="inv_description" name="inv_description" required><%= typeof inv_description !== 'undefined' ? inv_description : '' %></textarea>
        </div>
        <div class="form-group">
            <label for="imagePath">Image Path:</label>
            <input type="text" id="imagePath" name="imagePath" value="<%= typeof imagePath !== 'undefined' ? imagePath : '/images/no-image.png' %>" required>
        </div>
        <div class="form-group">
            <label for="thumbnailPath">Thumbnail Path:</label>
            <input type="text" id="thumbnailPath" name="thumbnailPath" value="<%= typeof thumbnailPath !== 'undefined' ? thumbnailPath : '/images/no-image-thumbnail.png' %>" required>
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" id="inv_price" name="inv_price" value="<%= typeof inv_price !== 'undefined' ? inv_price : '' %>" placeholder="decimal or integer" required>
        </div>
        <div class="form-group">
            <label for="miles">Miles:</label>
            <input type="number" id="inv_miles" name="inv_miles" value="<%= typeof inv_miles !== 'undefined' ? inv_miles : '' %>" placeholder="digits only" required>
        </div>
        <div class="form-group">
            <label for="color">Color:</label>
            <input type="text" id="inv_color" name="inv_color" value="<%= typeof inv_color !== 'undefined' ? inv_color : '' %>" placeholder="Min of 3 characters" required>
        </div>
        <button type="submit">Add Vehicle</button>
    </form>
</div>